
.account-purchase-history {

  div {
    //border: 0.5px dashed lightcoral;
  }

  h1 {
    margin: 0;
  }

  .filter-section {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;

    .line1 {
      margin: 10px 0 20px 0;

      .label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 4px;
      }

      .order-number {
        width: 30%;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        input {
          //margin: 4px 0 16px 0;
          color: #000;
          caret-color: #000;
          background-color: #FFF;
          background-position: center right 1rem;
          background-repeat: no-repeat;
          border: .0625rem solid #000;
          //border-radius: .25rem;
          display: block;
          font-size: 1rem;
          height: 2.25rem;
          padding: .875rem 0.125rem;
          width: 100%;

          padding-block: 1px;
          padding-inline: 4px;

          &:focus {
            outline: none;
          }

          &.invalid {
            box-shadow: none;
            border: .0625rem solid #d20014;
          }
        }
      }
    }

    .line2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .status-filter {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .status {
          text-transform: uppercase;
          font-size: 0.75rem;
          border: 1px solid gray;
          border-radius: 0.125rem;
          padding: 0px 8px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .filtered {
          background-color: black;
          color: white;
        }
      }

      .time-range {
        //width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 6px;

        .label {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 4px;
          font-size: 0.8rem;
        }
      }
    }
  }

  .orders-list {
    margin: 10px 0;
    //width: 80%;
    display: flex;
    flex-direction: column;

    .left {
      padding-left: 8px;
    }
    .center {
      text-align: center;
    }

    .right {
      text-align: right;
      padding-right: 20px;
    }

    .order-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: #c8102e;
      padding: 10px 0;
      color: #fafafa;

      .header {
        width: 90%;
        display: flex;
        flex-direction: row;


        .col-header {
          //width: 17%;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .operation {
        width: 10%;

      }
    }
    .one-order {
      //margin: 10px 0;
      //padding: 10px 0;
      display: flex;
      flex-direction: row;

      .order {
        width: 90%;
        display: flex;
        flex-direction: column;

        .order-info{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 6px 0;


          &:hover {
            //background-color: #c3c3c3;
          }

          .col {
            //width: 17%;
          }
        }
        .order-items {
          width: 100%;
          margin-top: 12px;
          //max-height: 0;
          //overflow: hidden;
          transition: max-height 9s ease;

          .item {
            width: 100%;
            display: flex;
            flex-direction: row;
            .col-1 {
              //width: 31%;

              img {
                height: 85px;
              }
            }
            .col-2 {
              //width: 47%;
              display: flex;
              flex-direction: column;

              .product-name {
                font-weight: 500;
                height: 48px
              }
              .color-size {
                font-size: 14px;
              }
            }
            .col-3 {
              width: 6%;
            }
            .col-4 {
              width: 16.6%;
            }
          }


        }
      }
      .operation {
        width: 10%;
        padding-top: 6px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 8px;

        span {
          position: relative;
          cursor: pointer;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            right:0;
            bottom: -3px; /* Adjust the offset value */
            width: auto;
            height: 1px; /* Adjust the thickness */
            background-color: black; /* Adjust the color */
          }

          &:hover::after {
            background-color: #d21919;
          }
        }

      }
    }

    .seperator {
      margin: 1px 0;
      height: 1px;
      background-color: #bababa;
    }
  }

}