.addtobag-container {
  width: 873px;
  margin: auto;

  .first-row {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #63636399;
    position: relative;

    .add-to-your-bag {
      font-size: 28px;
      font-weight: 700;
      margin-right: 20px;
    }
    .bag-icon {
      font-size: 40px;
    }
    .bag-item {
      font-size: 16px;
      font-weight: 500;
      margin-top: 15px;
    }
    .close-icon {
      position: absolute;
      right: 10px;
    }
  }

  .second-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    .col-1 {
      width: 62.5%;
      border-right: 1px solid #63636399;

      display: flex;
      flex-direction: row;
      img {
        width: 127px;
        height: 152px;
      }
      .item-detail {
        margin-left: 20px;
        .name {
          font-size: 20px;
          font-weight: 500;
        }
        .size {
          margin-top: 10px;
        }
        .money {
          margin-top: 10px;
        }
      }
    }

    .col-2 {
      padding: 0 20px;

      div.subtotal {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p{
          margin:0;
          font-size: 16px;
          font-weight: normal;
        }
      }

      button {
        width: 289px;
        height: 55px;
        background-color: #c8102e;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          width: 289px;
          height: 55px;
          background-color: rgba(0,0,0,0.2);
          top:0;
          left: 0;
          opacity: 0;
        }

        &:hover::after {
          opacity: 1;
        }

      }
      .continue {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .continue-shopping {
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1px;
          cursor: pointer;
        }
        .continue-icon {
          color: #c8102e;
          margin-top: -5px;
          margin-left: 5px;
          cursor: pointer;
          transition: transform 0.3s ease;
        }


        .continue-shopping:hover ~ .continue-icon {
          transform: translateX(5px);
        }
        .continue-icon:hover{
          transform: translateX(5px);
        }
      }
    }
  }

  .third-row {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    .name {
      font-size: 28px;
      font-weight: 700;
    }

    .addtobag-swiper-container {
      margin: 20px 0;
      position: relative;
      overflow: hidden;
      //z-index: 1;

      .addtobag-swiper-wrapper {
        transform: translate3d(0px, 0px, 0px);
        padding: 0;
        transition-timing-function: ease-out;
        margin: 0;
        position: relative;
        width: 100%;
        height: 100%;
        //z-index: 1;
        //display: flex;
        transition-property: transform;
        box-sizing: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
