.no-login-block {
  //height: 200px; //to be deleted
  //border: 1px dashed palevioletred;
  margin-top: 0;
  padding: 1rem 1.5625rem 2.5rem;
  background-color: #fff;
  font-size: 1.125rem;
  margin-bottom: .5rem;

  h2 {
    margin: 0 0 8px;
    padding-left: 30px;
    font-size: 26px;
    background-image: url('../images/check.png');
    background-size: 24px;
    background-position-y: center;
    background-repeat: no-repeat;
  }

  div {
    cursor: pointer;
    font-size:  16px;

    span {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}