nav {
  font-weight: 400;
  line-height: 1.2;
  display: block;

  ul.breadcrumb {
    margin: 1rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 11px;

    li::after {
      color: #8d9196;
      content: attr(data-slash);
      display: inline-block;
      font-weight: 300;
      margin: 0 .5rem;
    }

    li {
      //font-size: .875rem;
      line-height: 1.4285714286;
      font-weight: 500;
      text-transform: capitalize;
      display: list-item;
      list-style: none;

      a {
        //font-size: .875rem;
        color: black;
        position: static;
        text-decoration: underline;
        text-decoration-color: #8d9196;
        text-decoration-thickness: .0625rem;
        text-underline-offset: .375rem;
        cursor: pointer;
        padding: 0 0 .25rem;
      }

      a:hover {
        text-decoration-color: #d21919;
      }
    }


  }

}