.checkout-fluid-container {
  width: 1100px;
  margin: auto;
  //height: 1000px;
  border: 1px solid black;

  .header {
    margin: 1.5rem 0;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }

  .main {
    //height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col-1 {
      width: 65%;
      border: 1px dashed blue;

      .contact-block {
        height: 200px; //to be deleted
        border: 1px dashed palevioletred;
        margin-top: 0;
        padding: 1rem 1.5625rem 2.5rem;
        background-color: #fff;
        font-size: 1.125rem;
        margin-bottom: .5rem;

      }

      .no-login-block {
        height: 200px; //to be deleted
        border: 1px dashed palevioletred;
        margin-top: 0;
        padding: 1rem 1.5625rem 2.5rem;
        background-color: #fff;
        font-size: 1.125rem;
        margin-bottom: .5rem;

      }

      .shipping-block {
        //height: 800px; //to be deleted
        border: 1px dashed palevioletred;
        margin-top: 0;
        padding: 1rem 1.5625rem 2.5rem;
        background-color: #fff;
        font-size: 1.125rem;
        margin-bottom: .5rem;

        .shipping-no-login {

        }
      }
    }

    .col-2 {
      width: 30%;
      border: 1px dashed blue;

      .order-summary {
        //height: 800px; //to be deleted
        //border: 1px dashed palevioletred;
        margin-top: 0;
        position:sticky;
        top: 5%;
      }
    }
  }
}