* {
  box-sizing: border-box;
}

.edit-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;

  .edit-container {
    border-radius: 4px;
    width: 1050px;
    height: 657px;
    box-shadow: 7px 7px 20px 0 gray;
    background-color: white;
    display: flex;
    flex-direction: row;

    .bgI {
      width: 50%;
      display: flex;
      flex-direction: row;
      position: relative;
      //align-items: center;
      //justify-content: space-between;
      .prev-button {
        cursor: pointer;
        border: none;
        background-color: white;
        width: 48px;
        height: 48px;
        font-size: 20px;
        border-radius: 4px;
        margin: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .next-button {
        cursor: pointer;
        border: none;
        background-color: white;
        width: 48px;
        height: 48px;
        font-size: 20px;
        border-radius: 4px;
        margin: 10px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

      }
    }
    .edit-colorAndSize {
      width: 50%;
      //height: 50%;
      //margin: auto;
      padding: 10px 50px;
      position: relative;

    }
  }
}

.edit-colorList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //unclicked color [begin]
  .edit-colorBox {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin:  6px;
    box-shadow: 0 0 0 1px #d3d5d7;

    &:hover {
      cursor: pointer;
    }

    .edit-color-button {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .edit-colorBox:hover::after {
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-sizing: border-box;
    outline: 2px solid white;
    box-shadow: 0 0 0 4px #d3d5d7;
    position: absolute;
    transform: translateX(-34px) translateY(0px);
  }

  //unclicked color [end]

  //clicked color [begin]
  .edit-colorBoxClicked {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin:  6px;

    &:hover {
      cursor: pointer;
    }

    .edit-color-button {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .edit-colorBoxClicked::after {
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-sizing: border-box;
    outline: 2px solid white;
    box-shadow: 0 0 0 4px black;
    position: absolute;
    transform: translateX(-34px) translateY(0px);
  }

  //clicked color [end]
}

.edit-sizeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .edit-sizeBox {

    .edit-size-button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      background-color: white;
      color: black;
      border: 1px solid #aaaaaa;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }

    .edit-size-buttonClicked {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      background-color: black;
      color: white;
      border: 1px solid black;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
    }

    width: 36px;
    height: 36px;
    margin: 4px;
  }

  .onesize-buttonClicked {
    padding: 6px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
  }
}

.alert {
  margin: 20px 0;

  .exceed-limit {
    //margin: 10px;
    background-color: #ffe1e4;
    background-image: url("../images/outofstock.png ");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    border: .0625rem solid #d20014;
    //font-size: 1.1875rem;
    font-weight: 400;
    //line-height: 1.2631578947;
    display: flex;
    padding: 1.25rem 5rem;
  }
}

.update-edit{
  margin-bottom: 20px;
  //margin: 20px 0;
  width: 422px;
  height: 52px;
  background-color: #c8102e;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  font-weight:600 ;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 422px;
    height: 52px;
    //border-radius: 4px;
    //border:none;
    background-color: rgba(0,0,0,0.2);
    top:0;
    left: 0;
    //right: 5.5%;
    //transform: translateX(-5.5%);
    //bottom: 27%;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
    //background-color: rgba(0,0,0,0.2)
  }
}

.view-detail-link {
  text-align: center;

  a {
    color: black;
    text-decoration: none;
  }

  span {
    position: relative;
    cursor: pointer;
  }

  span::after {
    content: '';
    position: absolute;
    left: 0;
    right:0;
    bottom: -5px; /* Adjust the offset value */
    width: auto;
    height: 1px; /* Adjust the thickness */
    background-color: black; /* Adjust the color */
  }

  span:hover::after {
    background-color: #d21919;
  }
}
//.link {
//  color: black;
//  //position: absolute;
//  right: 28%;
//  transform: translateX(-28%);
//  bottom: 22%;
//  text-decoration: none;
//  &::after {
//    content: '';
//    width: 145px;
//    height: 1px;
//    background-color: black;
//    position: absolute;
//    right: 0.1%;
//    transform: translateX(-0.1%);
//    bottom: -1%;
//    transition: width 0.5s;
//  }
//  &:hover::after {
//    content: '';
//    width: 145px;
//    height: 1px;
//    background-color: #c8102e;
//    position: absolute;
//    right: 0.1%;
//    transform: translateX(-0.1%);
//    bottom: -1%;
//  }
//}
