.feature-panel-container {
  background: white;
  position: relative;

  .add-minus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    right: 120px;
  }
  .add-minus .horizontal, .add-minus .vertical {
    position: absolute;
    background-color: black;
    transition: transform 0.4s, opacity 0.4s, height 0.4s;
  }

  .add-minus .horizontal {
    width: 30px;
    height: 4px;
  }

  .add-minus .vertical {
    width: 4px;
    height: 30px;
    animation: move-to-vertical 0.4s forwards;
  }

  .list-style {
    list-style: none;
    display: inline-flex;
    margin-right: 50px;
    margin-left: -35px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fafafa;
    height: 10%;
    width: calc(30%);
    font-weight: 400;
    font-size: 17px;
  }
h2 {
  font-size: 16px;
}

  hr {
    border-top: 1px solid #fafafa;
    width: 130%;
    margin-left: -30px;
  }

}

