.filter-container {
  width: 25%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  margin: 10px 15px;
  position: relative;
  top: 5px;
  left: -20px;

  hr {
    width: 93%;
    color: rgba(241, 240, 240, 0.1);
  }
  .icon {
    color: #53565a;
    margin: 8px;
    width:24px ;
    height: 24px;
    position: relative ;
    &:hover {
      cursor: pointer;
    }
  }

  .filter-title {
    font-size: 28px;
    text-align: center;
    margin: 20px 0 25px 0;
  }
}
.accordion-container {
  font-size: 17px;
  .accordion-view-more-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
    font-size: 19px;

  }
  .accordion-header {
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 12.5px;

  }
  .add-minus {
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    position: relative;

    .need-fix {
      width: 16px;
      height: 2px;
      background-color: black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

    }
    .move-to-horizontal {
      position: absolute;
      left: 48%;
      transform: translateX(-48%);
      text-align: center;
      width: 2px;
      height: 16px;
      background-color: black;
      animation: move-to-horizontal 0.4s forwards;
    }
    @keyframes move-to-horizontal {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-90deg);
      }
    }
    .move-to-vertical {
      position: absolute;
      transform: translateX(-48%);
      left: 48%;
      width: 2px;
      height: 16px;
      background-color: black;
      animation: move-to-vertical 0.4s forwards;
    }
    @keyframes move-to-vertical {
      0% {
        transform: rotate(-90deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

  }
  .accordion-box {
    .checkList {
      width: 265px;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 0 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .doted {
      border-top: 3px dotted #acacb5;
      border-bottom: none;
      font-weight: bold;
    }
    transition: 1.5s ease-in-out !important;
    //display: block;
    input {
      margin: 0 10px 0 20px;
    }
  }
}

.type-box {
  width: 265px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.typeColorContainer {
  padding: 6px 2px;
  margin: 0 0 10px;
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  position: relative;
  transition: all ease-in-out 0.1s;
  .text-color {
  margin: 5px 0;
}
  &:hover {
    cursor: pointer;
  }
  &:hover::after {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
    outline: 2px solid white;
    box-shadow: 0 0 0 4px #d3d5d7;
    position: absolute;
    left: 12px;
  }

  .typeColor {
    margin: 0 6px 0 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 2px 1px #d3d5d7;

  }
  .typeColor.selected {
    margin: 0 6px 0 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
    outline: 2px solid white;
    box-shadow: 0 0 2px 4px black;
    z-index: 2;
  }
}
.size-box {
  width: 275px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;

  .size-number-one {
    text-align: center;
    font-size: 1.1875rem;
    font-weight: bold;
    margin: 5px;
    padding: 0;
    width: 45px;
    height: 40px;
    position: relative;
    background-color: white;
    border-radius: .25rem;
    border: .0625rem solid #d3d5d7;
    &:hover {
      cursor: pointer;
    }
  }
  .size-number-two {
    font-size: 1.1875rem;
    font-weight: bold;
    margin: 10px;
    height: 40px;
    position: relative;
    background-color: white;
    border-radius: .25rem;
    border: .0625rem solid #d3d5d7;
    &:hover {
      cursor: pointer;
    }
  }
}