header {
  position: relative;
  z-index: 1; /* Ensure this is below the dropdown */
}

.header-menu {
  margin: 0 auto 2px auto;
  width: 85.75rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.875rem;
  height: 34px;
  padding-right: 12.5px;

  div.menu-item {
    display: flex;
    margin-right: 20px;
    padding-top: 4px;
  }

  div.menu-item:last-of-type {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: -2px;
    width: 80%;
    height: 2px;
    background-color: #d21919;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  a:hover::after {
    transform: scaleX(1);
  }
}

.header-menubar-holder {
  position: relative;
  width: 100%;
  margin: 0;
  height: 76px;
  position: relative;
  background-color: white;

  .header-menubar-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 76px;
    //width: 85.75rem;
    width: 100%;
    margin: 0 auto;
    //padding: 0 1.5625rem;
    padding: 0 calc((100% - 85.75rem)/2 + 1.5625rem);
    background-color: white;
    z-index: 9;
    display: flex;
    justify-content: center;
  }

  .header-menubar-wrapper {
    //position: relative;
    height: 76px;
    //width: 85.75rem;
    width: 100%;
    margin: 0 auto;
    //padding: 0 1.5625rem;
    padding: 0 calc((100% - 85.75rem)/2 + 1.5625rem);
    background-color: white;
    z-index: 9;
    display: flex;
    justify-content: center;

    .header-menubar {
      width: 85.57rem;
      margin: auto;
      display: flex;

      .logo {
        width: 34px;
        height: 34px;
      }

      ul {
        //position: relative;
        margin: 0 0 0 52px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;

        color: black;

        //margin-top: 10px;
        //margin-left: -100px;

        li {
          font-size: 0.875rem;
          font-weight: 600;
          letter-spacing: .075rem;
          text-transform: uppercase;
          line-height: 1.25rem;
          position: relative;
          padding: 5px 20px;
          cursor: pointer;
        }

        li::after {
          content: '';
          position: absolute;
          left: 20px;
          bottom: -5px;
          width: 25px;
          height: 4px;
          background-color: #d21919;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
          z-index:99
        }

        li:hover::after {
          transform: scaleX(1);
        }

        li.special {
          color: red;
        }
      }

    }
  }
}



.header-input {
  display: flex;
  position: relative;
  //margin-right: 15px;
  align-items: center;
  input {
    border-color: #53565a;
    border-radius: 4px;
    width: 250px;
    height: 50px;
    padding-left: 40px;
    margin-right: 10px;
    &:focus {
      outline: none;
    }
  }
}
.header-input-icon1 {
  position: absolute;
  left: 10px;
  top: 30%;

}
.header-input-icon2 {
  margin-right: 10px;
}
.header-input-icon3 {
  margin-right: 10px;
}
.header-input-icon4 {
}