.MuiTooltip-tooltip {
  width: 80%;
  background-color: white !important;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid black;

}

.MuiTooltip-arrow {
  color: white !important;

  &::before {
    border: 1px solid black
  }
}
.tooltip-container {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  padding: 4px;
  line-height: 1.3;


  a {
    text-decoration: underline;
    color: black;
  }
}
img.tooltip {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
  cursor: pointer;

}