.container {
  //border: 1px solid black;
  width: 1440px;
  margin: auto;
}

.right-fixed {
  position: fixed;
  top: calc(50vh - 39px);
  left: calc(100% - 26px);
  right: 0;
  bottom: calc(50vh + 39px);

  img {
    cursor: pointer;
  }
}
.chatBotBox {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  z-index: 10;
  .chatBotIcon {
    width: 50px;
    height: 50px;
    background-color: #c8102e;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
    }
  }
  .botMessage {
    padding: 0 10px;
    width: 200px;
    position: absolute;
    right: 20px;
    bottom: 70px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 8px black;

  }
}
