.bigContainer {
  display: flex;
  flex-direction: column;


  .shopping-address {
    background: #ffffff;
    width: 100%;
    padding: 20px;

    .location {
      display: flex;
      flex-direction: column;

      select {
        width: 620px;
        height: 50px;
        font-size: 18px;

        &:focus {
          outline: none;
        }
      }
    }

    .name {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .first-name {
        display: flex;
        flex-direction: column;

        .input-container {
          position: relative;
          display: inline-block;
        }

        input {
          width: 300px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }

        .input-error {
          border: 1px solid #d20014;
          border-radius: 4px;
        }

        p {
          font-size: 13px;
          color: #d20014;
        }

        .close-icon {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
          color: #d20014;
          cursor: pointer;
        }
      }

      .last-name {
        display: flex;
        flex-direction: column;

        .input-container {
          position: relative;
          display: inline-block;
        }

        input {
          width: 300px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }

        .input-error {
          border: 1px solid #d20014;
          border-radius: 4px;
        }

        p {
          font-size: 13px;
          color: #d20014;
        }

        .close-icon {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
          color: #d20014;
          cursor: pointer;
        }
      }
    }

    .phone {
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .input-container {
        position: relative;
        display: inline-block;
      }

      input {
        width: 620px;
        height: 50px;

        &:focus {
          outline: none;
        }
      }

      .input-error {
        border: 1px solid #d20014;
        border-radius: 4px;
      }

      p {
        font-size: 13px;
        color: #d20014;
      }

      .close-icon {
        position: absolute;
        top: 50%;
        right: 58px;
        transform: translateY(-50%);
        color: #d20014;
        cursor: pointer;
      }

      h3 {
        font-size: 15px;
        color: #6b6f74;
        font-weight: normal;
        margin-top: 0;
      }
    }

    .address {
      display: flex;
      flex-direction: column;

      .input-container {
        position: relative;
        display: inline-block;
      }

      input {
        width: 620px;
        height: 50px;

        &:focus {
          outline: none;
        }
      }

      .input-error {
        border: 1px solid #d20014;
        border-radius: 4px;
      }

      p {
        font-size: 13px;
        color: #d20014;
      }

      .close-icon {
        position: absolute;
        top: 50%;
        right: 58px;
        transform: translateY(-50%);
        color: #d20014;
        cursor: pointer;
      }
    }

    .note {
      display: flex;
      flex-direction: row;

      .plus-icon {
        margin-top: 13px;
        margin-left: -3px;

      }

      p {
        position: relative;
        font-size: 16px;
        margin-left: 5px;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 1px;
          background: black;
        }
      }
    }

    .delivery-note {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      input {
        width: 620px;
        height: 50px;

        &:focus {
          outline: none;
        }
      }
    }

    .city-detail {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .city {
        display: flex;
        flex-direction: column;

        .input-container {
          position: relative;
          display: inline-block;
        }

        input {
          width: 195px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }

        .input-error {
          border: 1px solid #d20014;
          border-radius: 4px;
        }

        p {
          font-size: 13px;
          color: #d20014;
        }

        .close-icon {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
          color: #d20014;
          cursor: pointer;
        }
      }

      .state {
        display: flex;
        flex-direction: column;

        .select-container {
          position: relative;
          display: inline-block;
        }

        select {
          width: 195px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }

        .select-error {
          border: 1px solid #d20014;
          border-radius: 4px;
        }

        p {
          font-size: 13px;
          color: #d20014;
        }

        .close-icon {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
          color: #d20014;
          cursor: pointer;
        }
      }

      .zip-code {
        display: flex;
        flex-direction: column;

        input {
          width: 195px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .gift-options {
    margin-bottom: 30px;

    h3 {
      font-size: 14px;
      font-weight: 400;
      color: #53565a

    }

    margin-top: 20px;
    background: #ffffff;
    padding: 20px;

    .change {
      display: flex;
      flex-direction: row;
      position: relative;

      p {
        position: absolute;
        top: -60px;
        right: 30px;
        font-size: 15px;
        font-weight: 300;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 1px;
          background: black;
        }
      }
    }

    .options {
      input {
        transform: scale(1.3);
        margin-right: 10px;
        margin-top: -15px;
      }

      p {
        font-weight: 550;
      }

      span {
        color: #53565a;
        font-size: 14px;
        font-weight: 400;
      }

      .option-1 {
        display: flex;
        flex-direction: row;
      }

      .option-2 {
        display: flex;
        flex-direction: row;
      }

      .option-3 {
        display: flex;
        flex-direction: row;
      }
    }

    .gift-message {
      display: flex;
      flex-direction: row;
      input {
        transform: scale(1.3);
        margin-right: 10px;
      }

    }

    .gift-note {
      display: flex;
      flex-direction: row;
      gap: 20px;


      .to {
        display: flex;
        flex-direction: column;

        .input-container {
          position: relative;
          display: inline-block;
        }

        input {
          width: 300px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }

        .input-error {
          border: 1px solid #d20014;
          border-radius: 4px;
        }

        .error {
          font-size: 13px;
          color: #d20014;
        }

        .close-icon1 {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
          color: #d20014;
          cursor: pointer;
        }
      }

      .from {
        display: flex;
        flex-direction: column;

        .input-container {
          position: relative;
          display: inline-block;
        }

        input {
          width: 300px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }

        .input-error {
          border: 1px solid #d20014;
          border-radius: 4px;
        }

        .error {
          font-size: 13px;
          color: #d20014;
        }

        .close-icon2 {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
          color: #d20014;
          cursor: pointer;
        }
      }
    }

    .message {
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .input-container {
        position: relative;
        display: inline-block;
      }

      input {
        width: 620px;
        height: 50px;

        &:focus {
          outline: none;
        }
      }

      .input-error {
        border: 1px solid #d20014;
        border-radius: 4px;
      }

      .error {
        font-size: 13px;
        color: #d20014;
      }

      .close-icon3 {
        position: absolute;
        top: 50%;
        right: 58px;
        transform: translateY(-50%);
        color: #d20014;
        cursor: pointer;
      }
    }
  }

  button {
    background: #d20014;
    color: white;
    border-radius: 4px;
    align-self: flex-end;
    width: 300px;
    height: 55px;
    border: none;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      width: 300px;
      height: 55px;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}