.payment-fluid-container {
  width: 1112.5px;
  margin: auto;
  //height: 1000px;
  //border: 1px solid black;

  .header {
    margin: 1.5rem 0;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }

  .main {
    //height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col-1 {
      width: 65%;
      //border: 1px dashed blue;

      .order-review {
        width: 721.25px;
        height: auto;
        margin-right: 50px;
        //border: 1px dashed palevioletred;
        margin-top: 0;
        box-sizing: content-box;
        //background-color: #fff;
        font-size: 1.125rem;
        margin-bottom: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .paypal {
          margin-top: -.5rem;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: right;
          //background-color: #fff;
          //padding-right: -8px;
          position: relative;
          right: -4px;

          button {
            line-height: 1.25rem;
            margin: .5rem 0;
            display: flex;
            width: 50%;
            height: 54px;
            background-color: #2D70B5;
            color: #fff;
            border: .0625rem solid #2D70B5;
            border-radius: .25rem;
            cursor: pointer;
            justify-content: center;
            padding: 1rem 0 1rem 24px;
            text-decoration: none;
            letter-spacing: .075rem;
            font-weight: 600;
            text-transform: uppercase;
            background-image: url("../images/paypal.png");
            background-size: 80px;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 54px;
              //border-radius: 4px;
              //border:none;
              background-color: rgba(0,0,0,0.2);
              top:0;
              left: 0;
              //right: 5.5%;
              //transform: translateX(-5.5%);
              //bottom: 27%;
              opacity: 0;
            }

            &:hover::after {
              opacity: 1;
              //background-color: rgba(0,0,0,0.2)
            }
          }
        }
      }

    }

    .col-2 {
      width: 30%;
      //border: 1px dashed blue;

      .order-summary {
        width: 331.25px;
        height: 800px; //to be deleted
        //border: 1px dashed palevioletred;
        margin-top: 0;
      }
    }
  }
}