.payment-fluid-container {
  width: 1112.5px;
  margin: auto;
  //height: 1000px;
  border: 1px solid black;

  .header {
    margin: 1.5rem 0;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }

  .main {
    //height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col-1 {
      width: 65%;
      border: 1px dashed blue;

      .order-review {
        width: 721.25px;
        height: auto;
        margin-right: 50px;
        border: 1px dashed palevioletred;
        margin-top: 0;
        box-sizing: content-box;
        background-color: #fff;
        font-size: 1.125rem;
        margin-bottom: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

    }

    .col-2 {
      width: 30%;
      border: 1px dashed blue;

      .order-summary {
        width: 331.25px;
        height: 800px; //to be deleted
        border: 1px dashed palevioletred;
        margin-top: 0;
      }
    }
  }
}