* {
    box-sizing: border-box;
}
.productInfo {
    position: static;
    margin: auto;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .productName {
        font-size: 2.5rem;
        font-weight: 600;
    }
    .price {
        font-size: 1.3rem;
        font-weight: 300;

        .currency {
            font-size: .75rem;
            font-weight: 500;
            letter-spacing: .08125rem;
            line-height: 1.2;
        }
    }
    .productColorList {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .colorBox {
            width: 45px;
            height: 45px;
            //position: relative;
            //margin: 8px auto;

        }

        .selectColor {
            margin: 8px 8px 0;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            box-sizing: border-box;
            box-shadow: 0 0 2px 1px #c3c3c3;
            cursor: pointer;
            &:hover::after {
                content: '';
                width: 34px;
                height: 34px;
                border-radius: 50%;
                box-sizing: border-box;
                outline: 2px solid white;
                box-shadow: 0 0 0 4px #d3d5d7;
                position: absolute;
                transform: translateX(-40px) translateY(8px);
                z-index: 1;
            }

        }
        .selectColor.selected {
            margin: 8px 8px 0;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            box-sizing: border-box;
            outline: 2px solid white;
            box-shadow: 0 0 2px 4px black;
            z-index: 1 !important;
        }
    }

    .alert{
        //margin-top: 20px;
        width: 100%;

        .out-of-stock {
            margin-top: 20px;
            background-color: #ffe1e4;
            background-image: url("../images/outofstock.png ");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 1rem;
            border: .0625rem solid #d20014;
            font-size: 1.1875rem;
            font-weight: 400;
            line-height: 1.2631578947;
            display: flex;
            padding: 1.25rem 5rem;
        }

        .only-1-left {
            margin-top: 20px;
            background-color: #fff7da;
            background-image: url("../images/only1left.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 1rem;
            border: .0625rem solid #866D20;
            font-size: 1.1875rem;
            font-weight: 400;
            line-height: 1.2631578947;
            display: flex;
            padding: 1.25rem 5rem;
        }

        .exceed-limit {
            margin: 10px;
            background-color: #ffe1e4;
            background-image: url("../images/outofstock.png ");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 1rem;
            border: .0625rem solid #d20014;
            //font-size: 1.1875rem;
            font-weight: 400;
            //line-height: 1.2631578947;
            display: flex;
            padding: 1.25rem 5rem;
        }
    }


    .sizeButton {
        font-weight: bold;
        font-size: 14px;
        min-width: 40px;
        padding: 0 8px;
        //padding: 0 4px;
        height: 40px;
        margin: 4px;
        border: 1px solid #c3c3c3;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;

        .stock {
            font-size: 8px;
        }
    }

    .onesizeButton {
        font-weight: bold;
        font-size: 16px;
        border: 1px solid #c3c3c3;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        padding: 6px;
    }
    .outOfStock {
        background: linear-gradient(to top left, #fafafa calc(50% - .0625rem), #d3d5d7, #fafafa calc(50% + .09375rem));
        color: #53565a !important;
    }
    .selectedButton {
        background-color: black;
        color: white;
    }
    .redT {
        margin: 0 3px;
        color: white;
        text-align: center;
        width: 12px;
        height: 14px;
        background-color: #c8102e;
        font-weight: bold;
        font-size:11px ;
        position: relative;
        top: 3px;
    }
    .purchase {
        border: 1px solid #c3c3c3;
        width: 423px;
        //height: 100%;
        background-color: white;
        border-radius: 2px;
        position: relative;
        .read-to-buy {
            box-shadow: 0 1px 0 0 #c3c3c3;
            //height: 30%;
            left: 5px;
            p {
                margin: 0 30px ;
                position: relative;
                top: -5px;
            }
            h2 {
                margin: 10px auto;
                position: relative;
            }
            h2::before {
                content: '';
                width: 10px;
                height: 10px;
                margin: 5px 10px;
                border-radius: 50%;
                background-color: #c8102e;
                display: inline-block;
                box-shadow: 0 0 0 4px #c8102e;
                outline: 2px solid white;
            }
        }
        .pick-up-container {
            display: flex;
            flex-direction: column;
            //height: 40%;
            width: 423px;
            box-shadow: 0 1px 0 0 #c3c3c3;
            transition: all ease-in-out 0.3s;
        }
        .pick-up {
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: all ease-in-out 0.3s;
            //height: 33%;
            //width: 403px;

            h2 {
                //margin: 5px;
            }
            .icon {
                width: 24px;
                height: 24px;
                margin: 0 5px;
            }
        }
    }
    .add-to-bag {
        //height: 33%;
        //box-shadow: 0 1px 0 0 #c3c3c3;
        display: flex;
        justify-content: center;
        .add-button {
            background-color: #c8102e;
            border: unset;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            width: 403px;
            height: 53px;
            margin: 10px 0;
            cursor: pointer;
        }
        .soldout-button {
            background-color: black;
            border: unset;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            width: 403px;
            height: 53px;
            margin: 10px 0;
            cursor: not-allowed;
        }
    }
    .check-all {
        display: flex;
        justify-content: center;
        margin: 15px;
        font-weight: bold;
        text-decoration: none;
        //text-decoration-thickness: 1px;
        //text-decoration-offset: px;
        font-size: 14px;

        span {
            position: relative;
        }

        span::after {
            content: '';
            position: absolute;
            left: 0;
            right:0;
            bottom: -5px; /* Adjust the offset value */
            width: auto;
            height: 1px; /* Adjust the thickness */
            background-color: black; /* Adjust the color */
        }
    }


    .more-infro {
        display: flex;
        flex-direction: column;
        align-content: center;
        .svg-container {
            width: 60px;
            height: 18px;
            margin: 0 5px;
            display: inline-block;
            position: relative;
            top: 3px;
        }
        .svg-container2 {
            width: 60px;
            height: 18px;
            margin: 0 5px;
            display: inline-block;
            position: relative;
            top: 2px;
        }
        .productInfo-tooltip {
            width: 16px;
            height: 16px;
            display: inline-block;
            position: relative;
            top: 3px;

        }
        .productInfo-tooltip-detail {
            width: 15.625rem;
            //height: 100px;
            padding: 0.9375rem;
            //font-size: 20px;
            text-align: left;
            overflow-wrap:break-word;
            border: 1px solid black;
            border-radius: 4px;
            background-color: white;
            position: absolute;
            right: 80px;
            opacity: 1;
            z-index: 1;
        }
        .four-ways-payment {
            width: 423px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;

        }
        .heart-review {
            margin-top: 15px;
            width: 423px;
            display: flex;
            justify-content: space-between;

            span {
                position: relative;
                font-size: 14px;
                margin-left: 6px;

                a {
                    color: black;
                    font-weight: 600;
                    text-decoration: none;
                }
            }

            span::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0; /* Ensure it spans the full width of the text */
                bottom: -4px; /* Adjust the offset value */
                height: 1px; /* Adjust the thickness */
                background-color: black; /* Adjust the color */
            }

            span:hover::after {
                background-color: #d21919;
            }

        }
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin: 40px 0 0;
        width: 423px;
        height: 90px;
        padding: 36px;
        background-color: white;
        box-shadow: 0 1px 0 0 #c3c3c3;
        position: relative;
        //top: -10px;
        //left: -20px;
        .move-to-right {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 200px;
            left: -20px;
            .text {
                position: relative;
                font-weight: bold;
                font-size: 20px;
            }
            .arrow-to-right {
                color: #c8102e;
                position: relative;
                left: 60px;
                top: 5px;
            }
            transition: all 0.3s;
        }
        .move-to-right:hover {
            cursor: pointer;
            left: 5px;
        }
    }

    h3 {
        margin-top: 25px;
        font-size: 15px;
    }

    .detail {
        display: flex;
        flex-direction: row;

        ul {
            margin: 0;
            padding: 0;
            li {
                margin: 10px 0;
                padding: 0;
                list-style: none;

                img {
                    display: inline-block;
                }

                span {
                    margin-left: 6px;
                    position: relative;
                    top: -4px;
                    font-size: 14px;
                    font-weight: 600;

                    a {
                        text-decoration: none;
                        color: black;
                        cursor: pointer;
                    }
                }

                span::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0; /* Ensure it spans the full width of the text */
                    bottom: -4px; /* Adjust the offset value */
                    height: 1px; /* Adjust the thickness */
                    background-color: #bbbbbb; /* Adjust the color */
                }

                span:hover::after {
                    background-color: #d21919;
                }
            }
        }

    }


}
