.fluid-container {
  max-width: 85.75rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  //border: 1px solid black;;
  //
  //.filter-container {
  //  width: 25%;
  //  padding: 0 15px;
  //  border: 1px solid green;
  //}

  .main-container {
    //border: 1px solid green;
    width: 75%;
    padding: 0 15px;


  }
}

